<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <script src="https://kit.fontawesome.com/97534afc6b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div>
            <img src="/img/logo.jpg" alt=""><!-- Logo -->
        </div><!-- Va a ser una caja contenedora que incluya una imagen, ya que esta la vamos a poder mover como queramos -->
        <button><i class="fas fa-hamburger"></i></button><!-- Contiene el menu -->
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">QUIENES</a></li><!-- # nos lleva al principio o al inicio de cada pagina -->
            <li><a href="#">SERVICIOS</a></li> <!-- El menu contiene una lista -->
            <li><a href="#">PORTFOLIO</a></li>
            <li><a href="#">SUCURSALES</a></li>
            <li><a href="">CONTACTO</a></li>
        </ul>
    </header>
    <main>
        <section>
            <article>
                <div>
                    <img src="/img/img-pdto-1.jpg" alt="Imagen del producto 1">
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
                <a href="#"><button>ver más</button></a>
            </article>
        </article>
        <article>
            <div>
                <img src="/img/img-pdto-2.jpg" alt="Imagen del producto 2">
            </div>
            <h3>Lorem ipsum amet</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
            <a href="#"><button>ver más</button></a>
        </article>
        <article>
            <div>
                <img src="/img/img-pdto-3.jpg" alt="Imagen del producto 3">
            </div>
            <h3>Lorem ipsum amet</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
            <a href="#"><button>ver más</button></a>
        </article>
        <article>
            <div>
                <img src="/img/img-pdto-1.jpg" alt="Imagen del producto 1">
            </div>
            <h3>Lorem ipsum amet</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
            <a href="#"><button>ver más</button></a>
        </article>
        <article>
            <div>
                <img src="/img/img-pdto-2.jpg" alt="Imagen del producto 2">
            </div>
            <h3>Lorem ipsum amet</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
            <a href="#"><button>ver más</button></a>
        </article>
        <article>
            <div>
                <img src="/img/img-pdto-3.jpg" alt="Imagen del producto 3">
            </div>
            <h3>Lorem ipsum amet</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
            <a href="#"><button>ver más</button></a>
        </article>
        </section>
    </main>
    <footer>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Quienes</a></li><!-- # nos lleva al principio o al inicio de cada pagina -->
            <li><a href="#">Servicios</a></li> <!-- El menu contiene una lista -->
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Sucursales</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
    </footer>
</body>
</html>