*{
    box-sizing: border-box;/* Usa el total de la pantalla ,te suma todos los bordes y tiene los pixeles que permiten */
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:var(--colorNegro);
}

.home{
    background-image: url('../img/bg-body.png');
    width: 94%;/* Para que el body ocupe el 94% de la pantalla */
    margin: 0 auto;/* Para centrar el body de izquierda a derecha */
}