.home header{
    text-align: center;/* Para centrar todo lo que esta contenido en el header */
}

.home header .logo{
    padding: 20px 0 40px; /* si solo son dos coordenadas,20px arriba y abajo y cero a los costados,el padding permite que se desplaze fuera de la caja */
}

.home header .logo img{
    border-radius: 50%;/* Para redondear el logo */
    border: 1px solid var(--colorGris);
}

.home header button{
    width: 50px;/* Ancho del boton */
    height: 50px;/* Alto del boton */
    font-size: 30px;/* Aumentar el tamaño de la hamburguesa */
    margin-bottom: 30px;
    background-color:var(--colorBlanco);
    color: var(--colorRojo);
    border-radius: 25%;
    border: 1px solid var(--colorGris);/* Borde de color gris de 1px */
    
}

.home header ul li{
    background-color:var(--colorGris);/* Se producen barras de color gris en las li */
    padding: 10px;/* Aumento su tamaño */
    margin: 2px 0; /* Me separo 2px de arriba y abajo */
}

.home header ul li a{
    color: var(--colorBlanco);/* Se usa color para la tipografia asi como para los iconos */
}

/* Tablet */
@media(min-width:460px){
    .home header{
        padding-bottom: 20px;
    }

    .home header button{
        display: none
    }

    .home header ul{
        display: flex;/* Alinea los elementos uno al lado del otro  */
        justify-content: space-between;/* Con esto puedo poner el menor espacio posible entre elementos  */
        flex-wrap: wrap;
    }
    
    .home header ul li{
        width: 16%;/* el ancho de las li */
        font-size: 0.5rem;
    }
}

@media(min-width:560px){
    .home header ul li {
        font-size:0.8rem;
    }    

}
    
