.home main .banner{
   display: none;/* Ya no me va a aparecer */
}

.home main section article{
    margin: 20px 0;
    
}
.home main section .image{
    position: relative;/* delimita mi caja para que el absoluto no se valla al body */
        
}
    
.home main section .producto{
    width: 100%;/* Para que la imagen ocupe el 100% de la pantalla */
}
    
.home main section .etiqueta{
    right: 15px;/* Con esto reduzco el tamaño de la foto de free new y off */
    position: absolute;/* Para poder superponerme en otra imagen o en todo */
    top: 0px; /* La posicion desde arriba a abajo */
    right: 15px;/* La posicion desde la derecha a la izquierda */
}

.home main section h3{
    margin: 15px 0;
}

.home main section p{
    color :var(--colorGris)
}
/* Los elementos en linea no pueden ser separados facilmente, los de bloque si */
.home main section a{
    display:inline-block;/* Tiene las propiedades de bloque y a su vez lo puedo manipular con una padding*/
    margin: 20px 0 0;
    background-color: var(--colorGris);
    padding: 8px;
    color: var(--colorBlanco);
}

.home main section .amplear{
    display: block;/* caracteristicas de bloque ya que la etiqueta a es de linea */
    text-align: center;/* centra el texto */
    position: absolute;
    top: 40%;
    margin: 0;
    width: 100%;/* Para que la barra ocupe el 100% de la foto */
    background-color:var(--colorTransparente);/* Color mas transparente */
    font-weight: bold;
}

/* Tablet */

@media(min-width:460px){
    .home main .banner{
        display: block;
    }
    
    .home main .banner img {
        width: 100%;
    }

    .home main section{
        display: flex;/* Me aparece todos los articul€os unoa a lado del otro */
        flex-wrap: wrap;/* respeta el tamanio que le estamos dando a nuestro articulo */
        justify-content:space-between;
    }

    .home main section article{
        width: 48%;
    }
}

@media(min-width:760px){
    .home{
        max-width: 1300px;/* El home tiene crecimiento maximo de 1300px */
    }
    
    .home main section article{
        width: 32%;
    }
}